.buttonAll{
    background-color: #ff851b;
    font-size: 20px;
    height: 310px;
    width: 310px;
    border-radius: 150px;
   
}

.buttonAllCoffe{
    background-color: #ff851b;
    font-size: 20px;
    height: 310px;
    width: 310px;
    border-radius: 150px;
   
}

.buttonAllBurger{
    background-color: #ff851b;
    font-size: 20px;
    height: 310px;
    width: 310px;
    border-radius: 150px;
   
}

.buttonEmployed{
    height: 300px;
    width: 300px;
    border-radius: 150px;
    margin-top: 10%;
    margin-left: 12%;
}

.buttonEmployedArrow{
    height: 100px;
    width: 100px;
    border-radius: 150px;
}

.buttonAdd{
    background-color: #ff851b;
    font-size: 40px;
    height: 100px;
    width: 100px;
    color: black;
    border-radius: 50px;
}

.buttonAddSend{
    background-color:green;
    font-size: 30px;
    height: 80px;
    width: 160px;
    color: white;
    border-radius: 12px;
}

.buttonAddFood{
    background-color:white;
    font-size: 20px;
    height: 40px;
    width: 90px;
    color: black;
}

.buttonAddAll{
    background-color:green;
    font-size: 20px;
    height: 75px;
    width: 150px;
    margin-top: 3.5%;
    margin-left: 75%;
    color: white;
    border-radius: 12px;
    padding: 4%;
}

.buttonAddDrinks{
    background-color:white;
    font-size: 15px;
    height: 40px;
    width: 100px;
    color: black;
}
