.buttonAll{
    background-color: #f44336;
    font-size: 20px;
    height: 150px;
    width: 150px;
    margin-left: 21%;
    border-radius: 20px;
}

.buttonAdd{
    background-color: white;
    font-size: 40px;
    height: 50px;
    width: 50px;
    color: black;
    border-radius: 12px;
}

.buttonAddSend{
    background-color:green;
    font-size: 20px;
    height: 50px;
    width: 120px;
    color: white;
    border-radius: 12px;
}

.buttonAddFood{
    background-color:white;
    font-size: 20px;
    height: 25px;
    width: 75px;
    color: black;
}

.buttonAddAll{
    background-color:green;
    font-size: 20px;
    height: 25px;
    width: 100px;
    margin-top: 3.5%;
    margin-left: 75%;
    color: white;
    border-radius: 12px;
}

.buttonAddDrinks{
    background-color:white;
    font-size: 20px;
    height: 25px;
    width: 100px;
    color: black;
}