
@media screen and (min-width: 600px) and (max-width: 1024px){
  .Content {
    background-color: #8881814d; 
    min-height: 75vh;
    padding: 2%;
    flex-direction: column;
    justify-content: center;
    color: white;
  }
  .selectFood{
   display: inline-block !important;
   margin-left: 5%;
   margin-top: 30%;
  }
 
  .sendOrder{
    font-size: 30px;
      color: black;
      margin-top: 10%;
  }
  
  .order{
    align-content: center;
    margin-left: 70%;
    padding: 5%;
  }
  
  .divTypes{
    width: 50%;
    align-content: center;   
    display: inline-block;   
  }
  .menuOrder{
    width: 18%;
    font-size: 25px;
    color:white;
    margin-top: 2%;
    margin-left: 18%;
  }
  
  .menuTitle{
    margin-left: 45%;
    color: black;
    font-size: 30px;
}
  
  

  .addOrder{
    font-size: 25px;
    color:white;
  }
  
  .divSidedich{
    margin-top: 7%;
  }
  .menuTitleBurger{
    margin-left: 38%;
    font-size: 35px;
    color: black;
  }
  .menuTitleDrinks{
    margin-left: 44%;
    font-size: 35px;
    margin-top: 5%;
    color: black;
  }

  .fondBreakfast{
    background: #eceae887;
    margin-left: 2%;
  }

  .fondLuch{
    background:#f3f0ee91;
  }

  .divImag{
    text-align: center;
    font-size: 60px;
    background: #ff851b;
    margin-left: 10%;
  }
  .divImagChef{
    text-align: center;
    font-size: 60px;
    background: #ff851b;
    margin-left: 20%;
  }
}

@media screen and (min-width: 1025px){
  .Content {
    background-color: #8881814d; 
    min-height: 83vh;
    padding: 8%;
    flex-direction: column;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .selectFood{
    display: inline-block;
    margin-left: 16%;
   }
   .sendOrder{
    font-size: 30px;
      color: black;
      margin-top: 10%;
  }
  
  .order{
    align-content: center;
    margin-left: 70%;
    margin-top: 5%;
    padding: 5%;
  }
  
  .divTypes{
    width: 50%;
    align-content: center;   
    display: inline-block;   
  }
  .menuOrder{
    width: 18%;
    font-size: 25px;
    color:white;
    margin-top: 2%;
    margin-left: 18%;
  }
  
  .menuTitle{
    margin-left: 44%;
    padding: 5%
  }
  
  .addOrder{
    font-size: 25px;
    color:white;
  }
  
  .divSidedich{
    margin-top: 7%;
  }
  .menuTitleBurger{
    margin-left: 38%;
    font-size: 35px;
  }
  .menuTitleDrinks{
    margin-left: 44%;
    font-size: 35px;
    margin-top: 5%;
  }
  .fondBreakfast{
    background:#eceae887;

  }

  .fondLuch{
    background:#eceae887;
  }
}

.divFormUser{
  height: 25px;
  font-size: 25px;
}

.divImag{
  text-align: center;
  font-size: 60px;
  background: #ff851b;
}