.Content {
  background-color: #282c34;
  min-height: 75vh;
  padding: 5%;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.sendOrder{
  font-size: 30px;
    color: black;
    margin-top: 10%;
}

.order{
  align-content: center;
  margin-left: 80%;
  margin-top: 5%;
}

.divTypes{
  width: 33%;
  align-content: center;   
  display: inline-block;   
}
.menuOrder{
  width: 18%;
  font-size: 25px;
  color:white;
  margin-top: 2%;
  margin-left: 18%;
}

.menuTitle{
  margin-left: 40%;
}

.addOrder{
  font-size: 25px;
  color:white;
}

.divSidedich{
  margin-top: 2%;
}
