.Content {
  background-color: #282c34;
  min-height: 75vh;
  padding: 5%;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.sendOrder{
  font-size: 30px;
    color: black;
    
}

.order{
  align-content: center;
  margin-left: 35%;
  margin-top: 10%;
}

.divTypes{
  width: 33%;
  align-content: center;   
  display: inline-block;   
}

.menuBreakfast{
  align-content: center;
  
}

.divTittleTypes{
margin: 2%;
}

