.Button{
    font-size: 40px;
    color:white;
}

.divSecond{
    width: 17%;
    align-content: center;   
    display: inline-block;   
    margin-top: 6%;
    color: black;
    font-size: 50px;
}
.divSecondCenter{
    width: 10%;
    align-content: center;   
    display: inline-block;   
    margin-top: 6%;
    color: black;
    font-size: 50px;
    margin-left: 6%;
}

.divTitle{
    width: 45%;
    display: inline-block;
    color: black;
    margin-left: 3%;
    font-size: 32px;
}