.Button{
    font-size: 40px;
    color:white;
}

.divSecond{
    width: 18%;
    align-content: center;   
    display: inline-block;   
    margin-top: 8%;
}

.divTitle{
    width: 45%;
    display: inline-block;
    color: black;

}