.Header {
  background-color: red;
  height: 100px;
  padding: 15px;
  color:white;
  text-align: center;
}

.Menu{
  margin: 0;
  padding: 0;
  list-style: none;
}

.Menu li{
  display: inline-block;
  padding-right: 18px;
}
